streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langchain-classic
langchain-huggingface
faiss-cpu
pypdf
sentence-transformers
python-dotenv
tiktoken
unstructured[pdf]
torchvision
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz