streamlit
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-groq
langchain-text-splitters==0.2.4
faiss-cpu
pypdf
sentence-transformers
python-dotenv
tiktoken
unstructured
langchain-ollama
ollama
torchvision